.contactItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid slategray;
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.topRow {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.bottomRow {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.name {
  font-weight: bold;
  white-space: nowrap;
}

.number {
  white-space: nowrap;
}

button {
  margin-top: 0.5rem;
  background-color: initial;
  border: 1px solid slategray;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

button:hover {
  background-color: lightblue;
}

button:active {
  background-color: blue;
  color: white;
}
