.form {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 300px;
	position: relative;
	top: 100px;
	left: 25px;
}

.input {
	width: 100%;
	font-size: 1em;
	padding: 1.2em 1.7em 1.2em 1.7em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	border-radius: 20px;
	border: none;
	background: rgb(255, 255, 255, 0.5);
	outline: none;
	font-weight: bold;
	transition: 0.4s;
}

.input:focus,
.input:active {
	transform: scaleX(1.02);
}

.button {
	width: 200px;
	background-color: #6dbeec;
	border-radius: 100px;
	box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
		rgba(10, 65, 216, 0.15) 0 1px 2px, rgba(6, 51, 134.15) 0 2px 4px,
		rgba(10, 65, 216, 0.15) 0 4px 8px, rgba(6, 51, 134, 0.15) 0 8px 16px,
		rgba(10, 65, 216, 0.15) 0 16px 32px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 250ms;
	border: 0;
	font-size: 16px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:hover,
.button:focus {
	box-shadow: rgba(2, 26, 241, 0.35) 0 -25px 18px -14px inset,
		rgba(2, 26, 241, 0.35) 0 1px 2px, rgba(36, 8, 160, 0.25) 0 2px 4px,
		rgba(2, 26, 241, 0.35) 0 4px 8px, rgba(37, 6, 209, 0.25) 0 8px 16px,
		rgba(2, 26, 241, 0.35) 0 16px 32px;
	transform: none;
}

.button:active {
	transform: none;
	box-shadow: none;
}
