.container {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 600px;
}

.table {
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead {
	display: table;
	width: 100%;
	table-layout: fixed;
}

thead th {
	background-color: #6dbeec;
	text-align: center;
}

tbody {
	display: block;
	max-height: 600px;
	overflow-y: auto;
	width: 100%;
	scrollbar-color: #6dbeec #2c2c2c;
}

tbody::-webkit-scrollbar {
	width: 8px;
}

tbody::-webkit-scrollbar-track {
	background: #2c2c2c;
}

tbody::-webkit-scrollbar-thumb {
	background-color: #55608f;
	border-radius: 10px;
	border: 2px solid #2c2c2c;
}

tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

th,
td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #070707;
}

tbody tr:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
	position: relative;
}

.text {
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	margin: 0;
}

.buttonEdit {
	background-color: #6dbeec;
	color: black;
	padding: 5px;
	margin-right: 5px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

.buttonDelete {
	background-color: #f1695f;
	color: white;
	padding: 5px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

.buttonEdit:hover,
.buttonDelete:hover {
	opacity: 0.8;
}
.noContacts {
	font-size: 24px;
	text-align: center;
	color: #555;
  }
  