.container {
	display: flex;
	align-items: center;
	gap: 30px;
	padding-right: 150px;
}

.heading {
	font-weight: 700;
	font-size: 20px;
	margin: 0;
}

.button {
	color: white;
	background-color: #215ad6;
	padding: 5px;
	cursor: pointer;
	border-radius: 0.5rem;
	border: none;
	font-size: 14px;
	outline: none;
	width: 90px;
	text-align: center;
}

.button:hover,
.button:focus {
	background: #222;
}
